[Unit]
Description=Simple Service

[Install]
WantedBy=multi-user.target

[Service]
User=pi
Group=
ExecStart=libcamera-vid -t 0 --inline -o udp://127.0.0.1:4200
ExecStop=
WorkingDirectory=/home/pi
SyslogIdentifier=simple
Restart=always
RestartSec=5