[Unit]
Description=Simple Service

[Install]
WantedBy=multi-user.target

[Service]
User=pi
Group=
ExecStart=/usr/bin/python3 /home/pi/app/main.py
ExecStop=
WorkingDirectory=/home/pi
SyslogIdentifier=simple
Restart=always
RestartSec=5